version = 1

test_patterns = [
  "test/**",
  "test_*"
]

exclude_patterns = [
  ".circleci/**",
  ".github/**",
  "datasets/**",
  "hypothesis/**",
  "implementation_tests/**",
  "misc/**"
]

[[analyzers]]
name = "python"
enabled = true

  [analyzers.meta]
  runtime_version = "3.x.x"

[[transformers]]
name = "yapf"
enabled = true

[[transformers]]
name = "autopep8"
enabled = true

[[transformers]]
name = "black"
enabled = true

[[transformers]]
name = "isort"
enabled = true